<div th:switch="${restaurantes}">
    <h2 th:case="null">Ainda não há restaurantes!</h2>
    <div th:case="*">
        <h2>Restaurantes</h2>
        <table>
            <thead>
            <tr>
                <th>Nome</th>
                <th>Editar</th>
                <th>Remover</th>
                <th>Cardapio</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="restaurante : ${restaurantes}">
                <td th:text="${restaurante.nome}"></td>
                <td><a th:href="@{/editar-restaurante/{id}(id=${restaurante.id})}">Editar</a></td>
                <td><a th:href="@{/remover-restaurante/{id}(id=${restaurante.id})}">Remover</a></td>
                <td><a th:href="@{/index-cardapios/{id}(id=${restaurante.id})}">Cardápio</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/novo-restaurante">Adicionar um novo Restaurante</a></p>
</div>