<h2>Pedido</h2>
<table>
    <thead>
    <tr>
        <th>Restaurante</th>
        <th>Item</th>
        <th>Preço</th>
        <th>Quantidade</th>
        <th>Aumentar</th>
        <th>Diminuir</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="pedido : ${sessionPedidos}">
        <td th:text="${pedido.cardapio.restaurante.nome}"></td>
        <td th:text="${pedido.cardapio.nome}"></td>
        <td th:text="${pedido.cardapio.preco}"></td>
        <td th:text="${pedido.quantidade}"></td>
        <td><a th:href="@{'/aumentar-quantidade/' + ${pedido.id}}">Aumentar</a></td>
        <td><a th:href="@{'/diminuir-quantidade/' + ${pedido.id}}">Diminuir</a></td>
    </tr>
    </tbody>
</table>
<p>Total do Pedido: R$ <span th:text="${valorTotal}"></span></p>
<p><a href="/mostrar-restaurantes">Listar restaurantes</a></p>
<p><a href="/index">Voltar para a tela inicial</a></p>
